<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:webflow-config="http://www.springframework.org/schema/webflow-config"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/security 
       http://www.springframework.org/schema/security/spring-security.xsd 
       http://www.springframework.org/schema/webflow-config 
       http://www.springframework.org/schema/webflow-config/spring-webflow-config.xsd">

	<security:http auto-config="true" use-expressions="true">
		<security:csrf disabled="true" />
		<security:intercept-url pattern="/" access="permitAll" />
		<security:intercept-url pattern="/allproducts" access="permitAll" />
		<security:intercept-url pattern="/user" access="permitAll" />
<!-- 		<security:intercept-url pattern="/addproduct" access="hasROLE(ROLE_ADMIN)" /> -->
<!-- 		   <security:intercept-url pattern="/category" access="hasROLE('ROLE_ADMIN')" /> -->
<!-- 		<security:intercept-url pattern="/addseller" access="hasROLE(ROLE_ADMIN)" /> -->

		<security:form-login login-page="/login"
			authentication-failure-url="/login?error" 
			login-processing-url="/j_spring_security_check"
			default-target-url="/" 
			username-parameter="j_username"
			password-parameter="j_password" />
		<security:logout logout-success-url="/login?logout"
			logout-url="/j_spring_security_logout" />
	</security:http>


	<security:authentication-manager>
		<security:authentication-provider>

			<security:jdbc-user-service
				data-source-ref="dataSource"
				authorities-by-username-query="SELECT UserName, role_Name FROM authentication WHERE UserName =?"
				users-by-username-query="SELECT EmailId, Password, 'true' as enabled from Users where EmailId=? limit 1"/>
					
		</security:authentication-provider>
	</security:authentication-manager>
</beans>